{% macro box(pose) %}
      <link name="box">
        <!-- We count all component within the box as the box
        (NanoPi, pcb, connectors included) -->
        <pose>{{ pose }}</pose>
        <collision name="collision">
          <geometry>
            <mesh>
              <!-- Putting here an octogone might be a nice optimization -->
              <uri>meshes/box.stl</uri>
              <scale>0.001 0.001 0.001</scale>
            </mesh>
          </geometry>
        </collision>
        <visual name="visual">
          <geometry>
            <mesh>
              <uri>meshes/box.stl</uri>
              <scale>0.001 0.001 0.001</scale>
            </mesh>
          </geometry>
          <material>
            <script>
              <name>Gazebo/Green</name>
            </script>
          </material>
        </visual>
        <inertial>
          <mass>0.667</mass>
          <inertia>
            <ixx>0.083</ixx><!-- TODO -->
            <ixy>0.0</ixy>
            <ixz>0.0</ixz>
            <iyy>0.083</iyy>
            <iyz>0.0</iyz>
            <izz>0.083</izz>
          </inertia>
        </inertial>
      </link>
{% endmacro %}
