{% macro endcap(name, pose) %}
      <link name="{{ name }}">
        <pose>{{ pose }}</pose>
        <collision name="collision">
          <geometry>
            <mesh>
              <uri>meshes/endcap.dae</uri>
            </mesh>
          </geometry>
        </collision>
        <visual name="visual">
          <geometry>
            <mesh>
              <uri>meshes/endcap.dae</uri>
            </mesh>
          </geometry>
          <material>
            <script>
              <name>Gazebo/Black</name>
            </script>
          </material>
        </visual>
        <inertial>
          <mass>0.5</mass>
          <inertia>
            <ixx>0.0</ixx>
            <ixy>0.0</ixy>
            <ixz>0.0</ixz>
            <iyy>0.0</iyy>
            <iyz>0.0</iyz>
            <izz>0.0</izz>
          </inertia>
        </inertial>
        <!-- endcap has a negligeable inertia -->
      </link>
{% endmacro %}
