{% macro foot(name, pose) %}
      <link name="{{ name }}">
        <pose>{{ pose }}</pose>
        <collision name="collision">
          <pose>0 0 -0.006 0 0 0</pose>
          <geometry>
            <box>
              <size>0.024 0.040 0.0993</size>
            </box>
          </geometry>
        </collision>
        <visual name="visual">
          <geometry>
            <mesh>
              <uri>meshes/foot.stl</uri>
              <scale>0.001 0.001 0.001</scale>
            </mesh>
          </geometry>
          <material>
            <script>
              <name>Gazebo/Blue</name>
            </script>
          </material>
        </visual>
        <inertial>
          <mass>0.0105</mass>
          <inertia>
            <ixx>5.624930021684789</ixx>
            <ixy>-0.0007514028791903619</ixy>
            <ixz>0.0005912555287889139</ixz>
            <iyy>4.568350194084484</iyy>
            <iyz>0.020270474186461353</iyz>
            <izz>1.7085021792735104</izz>
          </inertia>
        </inertial>
      </link>
{% endmacro %}
