{% macro joint_fixed(parent, child) %}
      <joint name="fixed_{{ parent }}_{{ child }}" type="fixed">
        <parent>{{ parent }}</parent>
        <child>{{ child }}</child>
      </joint>
{%- endmacro %}
