{% macro joint_fixed(parent, child) %}
      <joint name="{{ parent }}_{{ child }}" type="fixed">
        <parent>{{ parent }}</parent>
        <child>{{ child }}</child>
      </joint>
{% endmacro %}
